
.AptTecViewer * {
  padding: 0;
  margin: 0;
  outline: 0;
  overflow: hidden;
} 
.AptTecViewer .viewerZoom {
  position: relative;
  display: inline-block;

  width: 100%;
  /* height: 100%; */
  border: solid grey;
  height: calc(100vh - 40px);
  overflow: scroll;
  /* transform-origin: 0px 0px; */
  transform: scale(1) translate(0px, 0px);
  cursor: grab;
} 
.AptTecViewer .viewerZoom > img {
  border: solid greenyellow;
            cursor: grab;
            /* transform-origin: top left; */

}
/* https://stackoverflow.com/questions/18531698/css-rotate-image-and-align-top-left */
.AptTecViewer .rotate90 {
    -webkit-transform: translateY(-100%) rotate(90deg); /* Safari */
    -moz-transform: translateY(-100%) rotate(90deg); /* Firefox 3.6 Firefox 4 */
    /*-moz-transform-origin: right top; */
    -ms-transform: translateY(-100%) rotate(90deg); /* IE9 */
    -o-transform: translateY(-100%) rotate(90deg); /* Opera */
    transform: translateY(-100%) rotate(90deg); /* W3C */  
    -webkit-transform-origin: left bottom;
    -moz-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    -o-transform-origin: left bottom;
    transform-origin: left bottom;
}

.AptTecViewer .rotate270 {
    -webkit-transform: translateX(-100%) rotate(-90deg); /* Safari */
    -moz-transform: translateX(-100%) rotate(-90deg); /* Firefox 3.6 Firefox 4 */
    -ms-transform: translateX(-100%) rotate(-90deg); /* IE9 */
    -o-transform: translateX(-100%) rotate(-90deg); /* Opera */
    transform: translateX(-100%) rotate(-90deg); /* W3C */  
    -webkit-transform-origin: top right;
    -moz-transform-origin: top right;
    -ms-transform-origin: top right;
    -o-transform-origin: top right;
    transform-origin: top right;
}


.viewerToolbar {
  background-color: #f1ecec;
  padding-top: 3px;
  padding-bottom: 3px;

  display: flex;
  align-items: center;
}

.viewerToolbar .imageToolbar,
.viewerToolbar .navigationToolbar,
.viewerToolbar .infoToolbar {
  display: inline-block;
}
.viewerToolbar .infoToolbar {
  display: none;
}

.viewerToolbar button,
.viewerToolbar span {
  margin-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  }
.viewerToolbar .imageToolbar,
.viewerToolbar  .rotateRight {
  margin-right: 30px;
}

/* Style the container for the file input */
.file-input-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

/* Style the actual file input (hidden) */
.file-input-container input[type="file"] {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}

/* Style the button or label to trigger the file input */
.custom-file-input-label {
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}

.centerToParent {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

.xxlargeText {
    font-size: xx-large;
}

.hide {
  display: none;
}